/* Trong file CSS hoặc thẻ style */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin-left: 25px;
    width: 1000px;
    margin: 0 auto;
}

.product-item {
    width: 100%;
    margin-bottom: 16px;
    /* Khoảng cách giữa các sản phẩm theo chiều dọc */
}
.product-grid button {
    border: 0px;
    border-radius: 14px;
    width: 180px;
    height: 35px;
    color: black;
    background-color: white;
}

.product-grid button:hover {
    background-color: black;
    color: white;
}

#btn-page1,
#btn-page2,
#btn-page3 {
    border-radius: 10px;
    width: 40px;
    height: 35px;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(130, 26, 2);
    text-decoration: none;
}

.active {
    background-color: black;
    color: white;
}

.card-body {
    margin-top: 0px;
}
.dark{
    margin-top: 20px;
}